@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gagalin';
  src: url('../font/Gagalin-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.custom-radius .el-input__wrapper {
  border-radius: 20px !important;
  font-family: 'Gagalin' !important;
}
.el-card {
  border-radius: 20px !important;
  background-color: #f5b300 !important;
}
.buttoninc {
  width: 5rem !important;
  height: 2.5rem !important;
  background-color: #f5b300 !important;
  border-radius: 10px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.buttoninc:hover {
  transform: scale(0.8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.buttonremove {
  width: 5rem !important;
  height: 2.5rem !important;
  background-color: #f50000 !important;
  border-radius: 10px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.buttonremove:hover {
  transform: scale(0.8);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.card-pressable {
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
  cursor: pointer;
}

.card-pressable:hover {
  transform: scale(0.95);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.card-pressable:active {
  transform: scale(0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.dialog {
  background-color: #f5b300 !important;
  border-radius: 10px !important;
  font-family: 'Gagalin';
}
